# Should eventually remove the exclusions
Checks:          '-*,
                  cppcoreguidelines-*,
                  -cppcoreguidelines-avoid-c-arrays,
                  -cppcoreguidelines-avoid-do-while,
                  -cppcoreguidelines-avoid-goto,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -cppcoreguidelines-init-variables,
                  -cppcoreguidelines-interfaces-global-init,
                  -cppcoreguidelines-narrowing-conversions,
                  -cppcoreguidelines-no-malloc,
                  -cppcoreguidelines-owning-memory,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-pro-bounds-constant-array-index,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -cppcoreguidelines-pro-type-reinterpret-cast,
                  -cppcoreguidelines-pro-type-vararg,
                  -cppcoreguidelines-special-member-functions,
                    '
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - key:             cppcoreguidelines-init-variables.MathHeader
    value:           '<cmath>'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           'true'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             readability-function-size.StatementThreshold
    value:           '800'
