# General
*.DS_Store
Thumbs.db
*.swp
~*
*~

# Python & Node.js
venv/
__pycache__
node_modules/
package-lock.json

# Sphinx
_build

# Altium Designer
History/
Schematics/__Previews
__Previews
*.$$$
*.PrjPcb.Zip
#*.log

# This project
build/**
debug/**
release/**
docs/LMS_API_Documentation/*
.vscode/
/.vs
/out/
/CMakeSettings.json
/deps/
