Source: limesuiteng
Section: comm
Priority: optional
Maintainer: Lime Microsystems <apps@limemicro.com>
Build-Depends:
    dkms | dh-dkms,
    dh-python,
    build-essential,
    gnuradio-dev,
    libsoapysdr-dev,
    debhelper-compat (= 13),
    cmake (>= 3.15),
    libusb-1.0-0-dev,
    libglew-dev,
    libwxgtk3.0-dev | libwxgtk3.0-gtk3-dev | libwxgtk3.2-dev
Standards-Version: 4.1.1
Homepage: https://discourse.myriadrf.org/
Vcs-Git: https://github.com/myriadrf/LimeSuiteNG.git
Vcs-Browser: https://github.com/myriadrf/LimeSuiteNG.git

Package: limesuiteng
Section: comm
Architecture: any
Depends:
    liblimesuiteng,
    limesuiteng-cli,
Recommends:
    limesuiteng-gui,
    gr-limesuiteng,
    limesuiteng-soapysdr
Description: metapackage for installing all LimeSuiteNG components.
 This package installs all LimeSuiteNG available components

Package: liblimesuiteng
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
Recommends:
    limesuiteng-udev,
    limepcie-dkms
Description: runtime shared libraries.
 Core of the LimeSuiteNG runtime

Package: limesuiteng-legacyapi
Section: libs
Architecture: any
Multi-Arch: same
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
Description: Legacy LimeSuite API wrapper over LimeSuiteNG
 Provides legacy LimeSuite C API wrapper for LimeSuiteNG library

Package: limesuiteng-dev
Section: libdevel
Architecture: any
Depends:
    liblimesuiteng
Description: headers and development files.

Package: limesuiteng-cli
Section: comm
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
Description: command line interface tools.

Package: limesuiteng-gui
Section: comm
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
Description: Graphical User Interface for LimeSDR based devices.

Package: limesuiteng-udev
Section: libs
Architecture: all
Depends: udev
Description: UDEV rules for LimeSuiteNG devices.

Package: limepcie-dkms
Section: comm
Architecture: any
Multi-Arch: same
Depends:
    ${misc:Depends}
Description: PCIe driver for LimeSDR based devices.

Package: gr-limesuiteng
Section: comm
Architecture: any
Multi-Arch: same
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
Enhances:
    gnuradio
Description: GNU Radio plugin of LimeSDR devices

Package: limesuiteng-soapysdr
Section: comm
Architecture: any
Multi-Arch: same
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
Enhances:
    libsoapysdr0.8
Description: bindings for SoapySDR
