#!/usr/bin/make -f
# -*- makefile -*-

# extract the architecture for setting the library path suffix
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# extract the last section of the changelog version for extra info
DEB_VERSION ?= $(shell dpkg-parsechangelog -S Version)
DEB_VERSION_EXTRA := $(lastword $(subst -, ,$(DEB_VERSION)))
VERSION_MAJOR := $(word 1,$(subst ., ,$(DEB_VERSION)))
VERSION_MINOR := $(word 2,$(subst ., ,$(DEB_VERSION)))

#create install scripts with dynamic names based on the release
#we could manually re-name them, but this automates everything but control/changelog
RELEASE_NUM = $(VERSION_MAJOR).$(VERSION_MINOR)

%:
	dh $@ --with dkms --buildsystem=cmake --parallel --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE="Release" \
		-DUDEV_RULES_RELOAD_ON_INSTALL=FALSE \
		-DUDEV_RULES_INSTALL_PATH="/lib/udev/rules.d/" \
		-DBUILD_PLUGINS_AMARISOFT=FALSE \
		-DLIMEPCIE_DKMS=ON \
		-DLIMEPCIE_INSTALL=OFF \
		-DLIMEPCIE_RELOAD_ON_INSTALL=OFF \
		-DCMAKE_AUTOSET_INSTALL_RPATH=FALSE \
		-DBUILD_DOCS=FALSE \
		-DBUILD_DOCS_DOXYGEN=FALSE \
		-DENABLE_DOXYGEN=FALSE \
		-DBUILD_EXAMPLES=FALSE \
		-DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)" \
		-DLIMESUITENG_EXTVER="$(DEB_VERSION_EXTRA)"
